<div
  class="p-3 bg-light text-white d-flex flex-column flex-md-row align-items-center justify-content-between"
>
  <div class="d-flex">
    <div>
      <a href="https://github.com/Derlys" target="_blank">
        <img src="/assets/images/github.svg" />
      </a>
    </div>
    <div class="px-2">
      <a href="https://twitter.com/derlys_paola" target="_blank">
        <img src="/assets/images/twitter.svg" />
      </a>
    </div>
    <div>
      <a href="https://dev.to/derlys" target="_blank">
        <img src="/assets/images/dev.svg" />
      </a>
    </div>
  </div>
  <div class="align-items-center d-flex text-primary mt-1 mt-md-0">
    <a
      href="https://paypal.me/derlysdominguez?locale.x=es_XC"
      rel="noopener"
      target="_blank"
      >Invitame a un cafecito!</a
    >
  </div>
  <div class="align-items-center d-flex text-primary">
    <small>Copyright &copy; 2020</small>
  </div>
</div>
