<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="nav">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-shrink-0 flex items-center">
        <img
          src="/assets/images/logo.svg"
          alt="logo"
          class="h-8 w-auto"
          routerLink="/inicio"
        />
      </div>
      <div class="hidden sm:block sm:ml-6">
        <div class="flex space-x-4">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a
            routerLinkActive="active"
            routerLink="/inicio"
            class="hover:bg-sky-800 px-3 py-2 rounded-md text-sm font-medium"
            aria-current="page"
            >Inicio</a
          >

          <a
            routerLink="/mi-historia"
            class="hover:bg-sky-800 px-3 py-2 rounded-md text-sm font-medium"
            >Mi historia</a
          >

          <a
            routerLinkActive="active"
            routerLink="/posts"
            class="hover:bg-sky-800 px-3 py-2 rounded-md text-sm font-medium"
            >Blog</a
          >

          <a
            routerLinkActive="active"
            routerLink="/contactame"
            class="hover:bg-sky-800 px-3 py-2 rounded-md text-sm font-medium"
            >Suscríbete</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
