<div class="container">
  <div class="row my-3 my-md-5">
    <!-- This is a single column that is responsive -->
    <div class="col-12 col-md-6 offset-md-3">
      <div *ngIf="thanks" class="alert bg-light alert-info text-center">
        Gracias por suscribirte! Que empiece el juego!
      </div>
      <div *ngIf="!thanks" class="card">
        <div class="card-body">
          <!-- The formGroup 'form' is defined in the component class -->
          <form [formGroup]="form">
            <div class="form-group">
              <label for="email">Nombre</label>
              <!-- The formControlName defines the name of the field in the formGroup -->
              <input
                id="name"
                formControlName="name"
                type="text"
                required
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="email">Correo electrónico</label>
              <input
                id="email"
                formControlName="email"
                type="email"
                required
                class="form-control"
              />
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <!-- The button has a click handler, it will be disabled if the form is not valid -->
            <button
              (click)="submit()"
              [disabled]="!form.valid"
              type="submit"
              class="btn btn-outline-success"
            >
              Suscribirme
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
