$light: #e7f3ff;
$primary: #04668d;

$navbar-light-color: black;
$navbar-light-active-color: $primary;

$font-size-base: 2 rem;
$font-weight-normal: 300;

$card-bg: $light;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
nav {
  background: $light;
}
footer {
  background: $light;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

markdown a {
  //text-decoration: underline;
  @apply underline;
}
